<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body>
    <table>
        <thead>
            User Info
        </thead>
        <tbody border="1">
            <tr>
                <td>user_name</td>
                <td>{{ name }}</td>
            </tr>
            <tr>
                <td>email</td>
                <td>{{ email }}</td>
            </tr>
            <tr>
                <td>profile</td>
                <td><img src=""/></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>